:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ccc;

  .input-wrapper {
    width: 350px;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;

    > * {
      width: 100%;
    }
  }
}
