<div class="input-wrapper">
  <mat-form-field>
    <input type="text"
           placeholder="Search repositories"
           aria-label="Search repositories"
           matInput
           [formControl]="repoName"
           [matAutocomplete]="auto"
           name="repoName"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let repo of allRepos" [value]="repo.name">
        {{ repo.name }} <small><a target="_blank" [href]="repo.url">watch</a></small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
